body{
    background:url(../img/login-bk.jpg) no-repeat center top #fbe1d3;
}
// 导航
.ltop{
    height: 30px;
    background:#f2f2f2;
    font-family: "宋体";
    color:#666;
    li{
        font-size:12px;
        line-height: 30px;
        padding-right:10px;
        padding-left:10px;
        a{
            color:#666;
        }
    }
    // 快速导航及下拉
    .sec{
        position:relative;
        z-index:5;
        .fast{
            display:none;
            padding:10px 10px 0 10px;
            width:137px;
            border:1px solid #ccc;
            background:#fff;
            position:absolute;
            z-index:2;
            top:29px;
            left:-1px;
            span{
                padding:0 10px;
                position:absolute;
                top:-30px;
                left:-1px;
                background:#fff;
                border:1px solid #ccc;
                border-bottom:1px solid #fff;
                border-top:0px solid #fff;
            }
            img{
                padding-top:10px;

            }
            b{
                display:block;
                text-align:center;
                line-height:30px;
                color:red;
            }
        }
        i{
            display:inline-block;
            width:8px;
            height:4px;
            vertical-align:middle;
            background: url(../img/sprites/sprites2.png) no-repeat -96px 0;
        }
    }
.sec:hover{
        
        .fast{display:block;}
    }
.last{
        color:red;
        position:relative;
        i{
            display:inline-block;
            width:10px;
            height:15px;
            vertical-align:middle;
            background: url(../img/sprites/icon-base2.png) no-repeat -540px -257px;
        }
        .app{
            display:none;
            position:absolute;
            z-index:2;
            top:30px;
            left:-1px;
            width: 140px;
            padding:10px;
            padding-bottom:5px;
            background:#fff;
            border:1px solid #ccc;
            border-top:0 none;
            color:#666;
            span{
                padding-right:10px;
                color:red;
                position:absolute;
                top:-30px;
                left:-1px;
                background: #fff;
                border: 1px solid #ccc;
                border-top: 0 none;
                border-bottom: 1px solid #fff;
                i{
                  display: inline-block;
                  margin-left:10px;
                  width: 10px;
                  height: 15px;
                  vertical-align: middle;
                  background: url(../img/sprites/icon-base2.png) no-repeat -540px -257px; } 
            }
            img{
                width: 120px;
            }
            i{
                display:inline-block;
                width: 20px;
                height: 20px;
                margin-left:15px;
                background: url(../img/sprites/icon-base2.png) no-repeat -535px -287px;

            }
            b{
               display:inline-block;
                width: 20px;
                height: 20px;
                background: url(../img/sprites/icon-base2.png) no-repeat -535px -315px; 
                vertical-align:middle;
            }
        }
    }
}
.last:hover{
    .app{
        display:block;
    }
}
.logo{
    h1{
        margin:10px;
        text-indent:-10000px;
        width: 170px;
        height: 85px;
        background: url(../img/logo.png) no-repeat;
    }
}

.error{
    color:red;
}
.login{
    padding-bottom:60px;
}
.loginc{
    width: 420px;
    height: 620px;
    background: #fff;
    border-radius:10px;
    box-shadow:0 0 2px #ccc;
    margin-right:20px;
    .loginTop{
        padding:20px 60px;
        font-size:24px;
        a{
            font-size:14px;
            color:#02b1cb;
            float:right;
            line-height:30px;
        }
    }
    .loginCenter{
        padding:20px 60px;
        li{ 
            padding-bottom:20px;
            font-size:12px;
            input{
                padding:0 5px;
                margin-top:5px;
                width: 300px;
                border:1px solid #ccc;
                line-height:30px;
                font-weight:bold;
            }
            .num{
                display:block;
                color:red;
            }
        }
        .psw{
           a{
            font-size:14px;
            color:#02b1cb;
            float:right;
        } 
        }
        .yzm{
            input{
                width: 150px;
            }
            .yanma{
                display:inline-block;
                width: 85px;
                height: 40px;
                font-size:20px;
                color:#fff;
                line-height:40px;
                text-align:center;
                vertical-align:middle;
                margin-left:5px;
            }
            .syanma{
                display:inline-block;
                width: 50px;
                vertical-align:middle;
                color: #a0a0a0;
            }
        }
        .button{
            border-bottom:1px solid #ccc;
            width: 300px;
            height: 40px;
            font-size:16px;
            text-align:center;
            color:#fff;
            line-height: 40px;
            border-radius:5px;
            background:linear-gradient(#F62648, #D01423);
        }
    }
    .loginBottom{
        padding:20px 60px;
        p{
            font-size:14px;
            color:#666;
        }
        span{
            display:inline-block;
            width:140px;
            height:40px;
            margin-top:30px;
            i{
                display:inline-block;
                width: 26px;
                height: 24px;
                vertical-align:middle;
                background: url(../img/sprites/login-icon5.jpg) no-repeat -303px bottom;
            }
            .par2{
                background-position:-120px bottom;
            }
        }
    }
}